/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/02/2020, 02:56:17 PM
    Author     : Chris
*/


.contenedor {
  width: 90%;
  height: 100%;
  position: relative;
 
 background-color: #red;
margin-left: 0px;
;

}
.widget {
/*  width: 40%;
  height: 40%;*/
 margin-right: 10%;
 margin-left: 10%;
 
}
.widget p {
  display: inline-block;
  line-height: 1em;
  
}
.fecha {
  font-family: arial;
  text-align:center;
  font-size: 1.5em;
  margin-bottom: 5px;
  background-color:#red;


}
.reloj {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 
  font-size: 1em;
  
  background-color: #red;

}


